.uptitle {
font-family:Trebuchet MS;
font-size:26px;
text-align:center;
}
.title {
font-family:Trebuchet MS;
font-size:56px;
text-align:center;
}
.gmodpic {
 position:relative; left:800px; 
}
.bmspic {
 position:relative; right:800px;
}
