.recttitle {
  width:670px;
  height:120px;
  border-radius:20px;
  background-color:gray;
}
.rect1{
   width:670px;
  height:300px;
  border-radius:20px;
  background-color:gray;
}
.spacing {
  line-height:360%;
}
.align {
  text-align:center;
}
